/* Navbar */
#Navbar-container {
    position: relative;
    background-color: #F4E1B6;
    height: 250px; 
    display: flex;
    width: auto ;
}

.navbar-brand {
  padding-left: 35px; 
  margin-right: auto; 
  margin-top: 25px;
}

.nav-link {
  margin-top: 20px;
  color: #234020; 
  font-size: 16px; 
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-style: oblique;
  text-shadow: 2px 2px 4px rgba(4, 30, 14, 0.5);
}

.navbar-brand img {
  width: 280px;
  height: auto;
  margin-top: 100;
  margin-left: 30;
  margin-right: 50px;
}

.nav {
    display: flex;
  }

.nav-item {
  margin-right: 20px;
  width: 180px;
  align-self: center;
}

.nav-item-n {
  margin-right: 20px;
  width: 160px;
}

.search-placeholder {
  margin-left: 350px;
  margin-top: 130px;
  text-align: center;
  width: 550px;
  display: flex;
  align-items: center;
  position: absolute;
}

#goToWeather {
  background-color: #77b961;
  color: black;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#searchLiveWeather {
  background-color: 77b961;
  margin-left: 20px;
  color: black;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  height: auto;
  width: 170px;
}

.search-placeholder input[type="text"] {
  width: 400px; 
}

.btn-login {
  margin-left: 200px;
  padding: 8px;
  font-size: 19px;
  font-family:serif;
  color: rgb(36, 103, 18);
  font-style: oblique;
}

.btn-login:hover {
  background-color: darkkhaki;
  border: #42a023;
}

.btn-sign-up {
  white-space: nowrap; 
  margin-left: 20px;
  padding: 8px;
  font-size: 19px;
  font-family:serif;
  color: rgb(36, 103, 18);
  font-style: oblique;
}

.btn-sign-up:hover {
  background-color: darkkhaki;
  border: #42a023;
}

.btn-dark-light {
  margin-left: 220px;
  background-color: darkseagreen;
  height: 30px;
}
/* Titles */
#title {
  margin-top: 50px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  color: #32672c;
}
/* Weather Dashboard */
#cityName {
  margin-left: 40px;
  font-size: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.weather-container {
  display: flex;
}

.weather-info-box {
  text-align: center;
  margin-bottom: 20px;
}

.weather-info-container {
  display: inline-block;
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
}

.weather-info {
  margin: 10px;
}


.map {
  flex: 1; 
  height: auto; 
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden; 
  margin-bottom: 30px;
  margin-left: 50px;
  margin-right: 40px;
}

.weather-grid {
  flex: 1; 
  margin-left: 20px;
  margin-right: 50px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.weather {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(21, 121, 39, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 80px;
}

.weather h4 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.weather p {
  font-size: 16px;
  margin: 0;
}


/* Connect with Us */
.row g-3 {
  border: 1px #234020;
  margin: 50px;
}

#form-para {
  font-size: 15px;
  color: darkgreen;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.form-control {
  width: 100%;
}

.form-box {
  background-color: #9abb85;
  padding: 30px;
  border: 1px solid #7fa09e;
  border-radius: 5px;
  margin: 20px auto;
  max-width: 500px; 
  height: auto;
  text-align: center; 
}

.btn-primary-reach {
  background-color: #d7d782;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 55px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: initial;
  font: 1em sans-serif;
}

.form-label {
  margin-top: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Customer Voices */
.reviews-grid {
  margin-left: 60px;
  margin-right: 60px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px; 
}

.review {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(21, 121, 39, 0.1);
  display: flex; 
  flex-direction: column; 
  align-items: center;
  text-align: center; 
  height: 250px;
}

.review-image {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
}

.review-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review-text p {
  font-size: 16px;
  margin: 0;
  padding: 10px;
  color: #32672c;
}

.customer-name {
  font-weight: bold;
  margin-top: 10px;
}
/* Get in Touch */
#Pricing {
  background-color: #cdeecd;
  padding: 40px 0;
  text-align: center;
}

.pricing-card {
  margin-top: 20px;
  background-color: rgb(247, 248, 199);
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: inline-block;
  text-align: left;
  max-width: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.pricing-card h3 {
  font-size: 22px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pricing-card p {
  font-size: 16px;
  margin-bottom: 20px;
}

.pricing-card ul {
  list-style-type:square;
  margin-left: 20px;
}

.pricing-card li {
  font-size: 16px;
  margin: 10px 0;
}

.pricing-card button {
  background-color: #6eab67;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 55px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: initial;
}

.pricing-card button:hover {
  background-color: #4a7f4d;
}
/* Footer */
#footer {
  background-color: #F4E1B6;
  padding: 20px 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.footer-content {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.footer-logo img {
  width: 300px; 
  height: auto;
  margin-left: 0;
  margin-top: 40px;
}

.footer-social {
  margin-left: 60px; 
}

.social-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}

.footer-text {
  margin-left: auto;
  flex-grow: 1;
  margin-left: 20px;
}

.footer-text p {
  font-size: 18px;
  color: #287120;
  width: 800px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  flex-grow: 1; 
  margin-left: 20px; 
}

.footer-copyright {
  width: 100%;
  text-align: center;
  margin-top: 20px; 
}

.footer-copyright p {
  font-size: 14px;
  color: #234020;
}

.footer-caption {
  width: 100%;
  text-align: center;
  margin-top: 20px; 
}

/* Configure & Customize */
#Configure-Customize {
  background-color: #F4E1B6;
  /* padding: 50px 0; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#title {
  width: 100%;
  text-align: center;
  margin-bottom: 20px; 
}

.setting-box1 {
  background-color: rgb(78, 150, 107);
  border: 1px solid #ccc;
  padding: 20px;
  margin-right: 20px;
  margin-left: 50px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  flex: 0 0 800px;
  margin-bottom: 20px;
}

.setting-box2 {
  background-color: rgb(78, 150, 107);
  border: 1px solid #ccc;
  padding: 20px;
  height: 180px;
  margin: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  flex: 0 0 400px; 
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 50px;
  align-items: center;
}

.setting-box h3 {
  font-size: 24px;
  color: #345b2f;
}

.setting-box p {
  font-size: 16px;
  color: #e6e584;
  margin-top: 10px;
}

.btn-settings {
  background-color: #6eab67;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 150px;
}

.btn-settings:hover {
  background-color: #a8cd75;
}

.unit-btn {
  color: #32672c;
  background-color: #e6e584;
  
}
#CC-title {
  color: #F4E1B6;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.list-group {
  text-align: center; 
  margin: 0 auto; 
}

.CC-text {
  color: #ccc;
  margin-left: 20px;
}

.list-group-item {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-right: 30px;
}

.btn-group ml-3 {
  margin-left: 30px;
}

